body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-image: url("/camagru/public/img/background_pic.jpg");
  background-attachment: fixed;
  color: white;
}
.links:link {
  text-decoration: none;
  color: red;
}

.links:visited {
  text-decoration: none;
  color: aqua;
}

.links:hover {
  text-decoration: underline;
  color: white;
}

.links:active {
  color: orange;
  text-decoration: underline;
}
* {
  font-weight: lighter;
  box-sizing: border-box;
}

.register-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 5px;
  border: 1px solid black;
}

.register-container {
  max-width: 450px;
  padding: 10px;
}
.error {
  color: red;
  display: block;
}
.register-container input[type="text"],
.register-container input[type="email"],
.register-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  opacity: 50%;
  border-radius: 5px;
}

.register-container input[type="text"]:focus,
.register-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}


.register-container .cancel {
  background-color: red;
}

.open-button:hover {
  color: red;
  opacity: 1;
}
.register__container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000000aa;
}
