.posts_container {
  display: contents;
  position: relative;
  padding-top: 45px;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 23px;
}

h2 {
  font-size: 17px;
}

p {
  font-size: 15px;
}

a {
  text-decoration: none;
  font-size: 15px;
}

h1,
h2,
p,
a,
span {
  color: #fff;
}

.scnd-font-color {
  color: #9099b7;
}

.clear {
  clear: both;
}

.icon {
  font-size: 25px;
}

.profile_name_posts a {
  color: black;

  float: left;
  margin-left: 0%;
  margin-top: 6%;
  font-size: 27px;
  text-decoration: none;
}

.post_profile_pic {
  float: left;
  border-radius: 100%;
  overflow: hidden;
  margin: 2%;
  border: 4px ridge #3ebe27;
  width: 100px;
  height: 100px;
}

.post_profile_pic img {
  width: 100%;
  margin: -7px 0px 0px 0px;
}

.post_img img {
  margin: 2% 4% 1% 11%;
  width: 80%;
  border-style: outset;
  border-radius: 8px;
  position: relative;
  display: table-row-group;
}

.header-menu-number {
  position: absolute;
  line-height: 22px;
  padding: 0 6px;
  font-weight: 700;
  background: #e64c65;
  border-radius: 100%;
  top: 15px;
  right: 2px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header-menu li:hover .header-menu-number {
  text-decoration: none;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.profile-menu {
  float: right;
  height: 80px;
  padding-right: 20px;
}

.profile-menu p {
  font-size: 17px;
  display: inline-block;
  line-height: 76px;
  margin: 0;
  padding-right: 10px;
}

.profile-menu a {
  padding-left: 5px;
}

.profile-menu a:hover {
  text-decoration: none;
}

.small-profile-picture {
  display: inline-block;
  vertical-align: middle;
}

/** CONTAINERS **/
.container {
  display: inline-block;
  position: fixed;
  top: 17%;
}

.block {
  background: aliceblue;
}

.profile {
  margin-top: 73px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  border-radius: 19px;
  display: flow-root;
}

.add-button .icon {
  float: right;
  line-height: 18px;
  width: 23px;
  border: 2px solid;
  border-radius: 100%;
  font-size: 18px;
  text-align: center;
  margin: 10px;
}

.add-button .icon:hover {
  color: #e64c65;
  border-color: #e64c65;
}

.user-name {
  margin: 25px 0 16px;
  text-align: center;
}

.profile-description {
  width: 210px;
  margin: 0 auto;
}

.reaction ul {
  width: 150px;
  height: 100%;
  margin-left: 10%;
}

.likes input {
  width: 40px;
  background: url(../img/posts/feedback.svg) no-repeat;
  margin: 6px 19px 2px 15px;
  text-decoration: none;
  color: black;
  font-size: 24px;
  padding-top: 38px;
}

.comments input {
  width: 40px;
  background: url(../img/posts/comnt.svg) no-repeat;
  margin: 6px 19px 2px 15px;
  text-decoration: none;
  color: black;
  font-size: 24px;
  padding-top: 38px;
}

.lamrd input {
  display: inline-block;
}

.post_title p {
  float: left;
  top: -12px;
  width: 80%;
  height: 100%;
  margin: 0% 0% 0% 10%;
  position: relative;
  color: black;
  font-size: larger;
  font-family: initial;
}

.posts_info {
  width: 1%;
  margin: 1% 1% 1% 1%;
  padding: 0px;
}
.posts_info p {
  color: black;
  width: 38vh;
}

.delete {
  background-color: crimson;
  margin: 31px 27px 0 0;
  border-radius: 9px;
  width: 50px;
  height: 40px;
  float: right;
}

.delete a:hover {
  color: white;
}

.return {
  background-color: black;
  margin: 31px 31px 0 27px;
  border-radius: 9px;
  width: 50px;
  height: 40px;
  float: left;
  display: unset;
  color: white;
}

.blabla {
  float: right;
  width: 78%;
  height: 69px;
  margin: 10% 0 2% 0;
}

.blablashow {
  display: block;
  float: right;
  width: 60%;
  height: 69px;
  margin: 35px 0px 6px 91px;
}

.blabla input {
  width: 67%;
  height: 69px;
  border-color: black;
  background-color: black;
  margin: 2px 0px 0px 3%;
  color: white;
}

.blablashow input {
  width: 363px;
  height: 68px;
  border-color: black;
  background-color: black;
  margin: 2px 0px 0px -113px;
  color: white;
}

#commntarea {
  position: relative;
}

textarea {
  height: 149px;
  overflow: auto;
  resize: vertical;
}

.publish {
  background-color: black;
  margin: 1px 115px 11px 6px;
  border-radius: 9px;
  width: 99px;
  height: 71px;
  float: right;
  color: white;
}

.comments {
  color: black;
  font-size: 24px;
}

.lmard {
  width: 134px;
  display: inline-flex;
  margin: -6px 1px 0px 84px;
}

.showcomments a {
  color: blue;
  float: right;
  margin: 7px 9% 7px 1px;
}
.galerie img {
  margin: 5px;
  width: 200px;
}
.container_galerie{
  display: inline-block;
  margin-bottom: 50px;
  padding: 6px;
  border-style: groove;
  border-radius: 20px;
  background-color: white;
  margin: 8% 4% 3% 17%;
}